<p>container works!</p>
<div>
  <span>{{"TOP FIVE: "}}</span>
  <span>{{getSortedNumbers()[70] + " - "}}</span>
  <span>{{getSortedNumbers()[69] + " - "}}</span>
  <span>{{getSortedNumbers()[68] + " - "}}</span>
  <span>{{getSortedNumbers()[67] + " - "}}</span>
  <span>{{getSortedNumbers()[65]}}</span>
</div>
<div *ngFor="let lotto of powerBallNumbers">
  <span>{{lotto.lottoType.description + ": "}}</span>
  <span>{{lotto.date + " - "}}</span>
  <span>{{lotto.numberOne + " - "}}</span>
  <span>{{lotto.numberTwo + " - "}}</span>
  <span>{{lotto.numberThree + " - "}}</span>
  <span>{{lotto.numberFour + " - "}}</span>
  <span>{{lotto.numberFive + " - "}}</span>
  <span>{{lotto.specialBall}}</span>
</div>
