.number {
  width: 46px;
  height: 25px;
  margin-right: 25px;
}

.select-lotto-type {
  width: 150px;
  height: 25px;
  align-content: flex-end;
}

.line-balls {
  margin-top: 25px;
}

.dot {
  height: 50px;
  width: 50px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  margin-right: 25px;
}

.dot-number {
  font-size: 25px;
  padding: 12px;
}

.dot-special-ball {
  background-color: coral;
}

.button {
  align-content: center;
}
