.number {
  width: 46px;
  height: 25px;
  margin-right: 25px;
}

div .select-lotto-type {
  align-self: center;
}

.select-lotto-type {
  width: 150px;
  height: 25px;
}

.line-balls {
  margin-top: 25px;
}

.dot {
  height: 50px;
  width: 50px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  margin-right: 25px;
}

.dot-number {
  font-size: 25px;
  padding: 12px;
}

.dot-power-ball {
  background-color: #e30c07;
}

.dot-mega-millions {
  background-color: #ffdf00;
}

.button {
  flex: auto;
}

.box {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}
