<mat-expansion-panel>
  <div class="error-message" *ngIf="submitted && lottoHistoryForm.invalid">
    <span>Invalid Entry</span>
  </div>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Lotto History
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form [formGroup]="lottoHistoryForm" novalidate>
    <div>
      <div class="box">
        <div>
          <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="from" formControlName="dateFrom">
            <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
            <mat-datepicker #from></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="to" formControlName="dateTo">
            <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
            <mat-datepicker #to></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="select-lotto-type">
          <select class="select-lotto-type form-control" formControlName="selectedLottoType"
            [ngClass]="{'is-invalid': submitted && lottoHistoryForm.get('selectedLottoType').errors}">
            <option></option>
            <option *ngFor="let lotto of lottoTypeList" [ngValue]="lotto" [innerText]="lotto.description">
            </option>
          </select>
        </div>
      </div>
      <div class="box">
        <button mat-button (click)="search()" class="button">
          Search
        </button>
      </div>

      <div *ngFor="let lotto of lottoNumbers">
        <span>{{lotto.lottoType.description + ": "}}</span>
        <span>{{lotto.date | DatePipe:'MM/DD/YYYY' + " ::: "}}</span>
        <span>{{lotto.numberOne + " - "}}</span>
        <span>{{lotto.numberTwo + " - "}}</span>
        <span>{{lotto.numberThree + " - "}}</span>
        <span>{{lotto.numberFour + " - "}}</span>
        <span>{{lotto.numberFive + " - "}}</span>
        <span>{{lotto.specialBall}}</span>
      </div>

    </div>
    <!-- Lotto History -->
  </form>
</mat-expansion-panel>
